extends ../layout
block content
    .container.top-margin-from-navigation
        .row.mt-5
            .col-sm-10
                h5 Create New Product
            .col-sm-2.text-right
                a(href="/admin") return to admin
        .row
            .col-sm-2
            .col-sm-8
                
                form(method="POST" action="/products/add-product" enctype="multipart/form-data" id='productForm')
                    .form-row.mt-2
                        .col.form-group
                            label Product Serial:
                            input.form-control(name="serial" type="text" id="serialNo")
                            #serialError.error
                        .col.form-group
                            label Product Name:
                            input.form-control(name="productname" type="text" id="productname")
                            #productnameError.error
                    .form-row
                        .col.form-group
                            label Make:
                            select.form-control(name="make")
                                option(value="ug") UG
                                option(value="fr") Foreign
                        .col.form-group
                            label Add Product Image:
                            input.form-control-file(type="file" name="productimage" id="productimage")
                            #productimageError.error
                    .form-row
                        .col.form-group
                            label Product Description
                            textarea.form-control(name="description", cols="30", rows="5" id="description")
                            #descriptionError.error 

                    .form-row
                        .col.form-group
                            label Color:
                            select.form-control(name="color")
                                option(value="black") Black
                                option(value="white") White
                                option(value="black&white") Back and White
                                option(value="other") Other
                        .col.form-group
                            label Category:
                            select.form-control(name="category")
                                option(value="kitchen") Kitchen
                                option(value="compound") Compound
                                option(value="funiture") Funiture
                                option(value="livingroom") Living Room
                                option(value="bedroom") Bedroom
                                option(value="bathroom") Bathroom
                                option(value="electronics") Electronics
                                option(value="school") School
                        .col.form-group
                            label Number in stock:
                            input.form-control(type="number" name="instock" id="instock")
                            #instockError.error


                    .form-row.mt-2
                        .col.form-group
                            label Cost:
                            input.form-control(name="productcost" type="number" id="productcost")
                            #productcostError.error
                    .form-row
                        .col.form-group
                            button.btn.btn-primary.btn-block Add Product

            .col-sm-2

