extends ../layout
block content
    .container.top-margin-from-navigation
        
        .row.mt-5
            .col-sm-7.mt-5
                h1 Login
                p This is a sign up for both agents and admins. Both shall be redirected to their respective dashboards
            .col-sm-5.mt-5
                header.card-header

                    h4.card-title Login
                form(method="POST" action="/admin/login" name="loginForm" onsubmit="return validateLogin()")
                    .form-row.mt-2
                        .col.form-group
                            label Username
                            input.form-control(name="username" type="text")
                            #usernameError.error
                    .form-row
                        .col.form-group
                            label Password
                            input.form-control(type="password" name="password")
                            #passwordError.error
                    .form-row
                        .col.form-group
                            button.btn.btn-primary.btn-block Login