extends ../layout
block content
    .container.top-margin-from-navigation
        .row.mt-3
            .col-12
                h1 Login
                p This is where a new Supreme manager creates his or her account

        .row
            .col-sm-7
            .col-sm-5
                header.card-header

                    h4.card-title Login
                form(method="POST" action="/admin/login")
                    .form-row.mt-2
                        .col.form-group
                            label Username
                            input.form-control(name="username" type="text")
                    .form-row
                        .col.form-group
                            label Password
                            input.form-control(type="password" name="password")
                    .form-row
                        .col.form-group
                            button.btn.btn-primary.btn-block Login