extends ../layout
block content
    .container.top-margin-from-navigation
        .row
            .col-sm-7
                h1 Admin Registration 
                p This is where a new Supreme manager creates his or her account
            .col-sm-5
                header

                    h3 Registeration Form
                form(method="POST" action="/admin/signup" name="signupForm" id="signupForm")
                    .form-row.mt-2

                        .col.form-group
                            label First name
                            input.form-control(name="firstname" id="firstname" type="text")
                            #firstnameError.error

                        .col.form-group
                            label Last name
                            input.form-control(name="lastname" id="lastname" type="text")
                            #lastnameError.error

                    .form-row
                        .col.form-group
                            label Email
                            input.form-control(name="email" id="email" type="email")
                            #emailError.error

                    .form-row
                        .col.form-group
                            label Username
                            input.form-control(name="username" id="username" type="text")
                            #usernameError.error
                            
                        .col.form-group
                            label NIN
                            input.form-control(name="nin" id="nin" type="text")
                            #ninError.error

                    .form-row
                        .col.form-group
                            label.form-check.form-check-inline                   
                                input.form-check-input(type="radio" name="gender" id="gender" value="female")
                                span.form-check-label Female 
                            label.form-check.form-check-inline
                                input.form-check-input(type="radio" name="gender" id="gender" value="male")
                                span.form-check-label Male
                            #genderError.error
                        .col.form-group
                            

                    .form-row
                        .col.form-group
                            label Country 
                            input.form-control(name="country" type="text" id="country")
                            #countryError.error

                        .col.form-group
                            label City
                            select.form-control(name="city" id="city")
                                option(value="Kabale") Kabale
                                option(value="Wakiso") Wakiso
                                option(value="Mbale") Mbale
                    .form-row
                        .col.form-group
                            label Create Password
                            input.form-control(type="password" name="password" id="password")
                            #passwordError.error

                    .form-row
                        .col.form-group
                            label Comfirm Password
                            input.form-control(type="password" name="password2" id="password")
                            #password2Error.error

                    .form-row
                        .col.form-group
                            button.btn.btn-primary.btn-block Register


    