extends ../layout
block content
    .container.top-margin-from-navigation
        .row
            .col-sm-3.mt-3
                .card   
                    .card-body
                        h3.text-center Admin

            .col-sm-9.mt-3
                .row
                    .col-sm-12
                        .card-deck
                            .card
                                .card-body
                                    a(href="/products/add-product")
                                        h5.card-title Add Product
                                
                            .card
                                .card-body
                                    a(href="/admin/products")
                                        h5.card-title View Products
                            .card
                                .card-body
                                    a(href="/admin/manager/create")
                                        h5.card-title Add Manager
                                
                            .card
                                .card-body
                                    h5.card-title View Managers
                hr


                