extends ../layout
block content
    .container.top-margin-from-navigation
        .row.mt-3
            .col-sm-10
                h3 #{title}
            .col-sm-2.text-right
                a(href="/admin") return to admin    
        .row.mt-3
            
            table.table
                thead.thead-dark
                    tr
                        th(scope="col") #
                        th(scope="col") Product Name
                        th(scope="col") Category
                        th(scope="col") Unit Cost
                        th(scope="col") Edit
                        th(scope="col") Delete
                        
                    each product in products
                        tbody
                            th(scope="row") 
                            td #{product.productname}
                            td #{product.category}
                            td #{product.productcost}
                            td  
                                - var productId = product._id
                                a(href=('/admin/products/edit/' + productId)) edit
                            td
                                a(href="") delete

        .row.mt-3
            .col-sm-10
            .col-sm-2
                a.btn.btn-primary(href="/products/add-product" role="button") Create Product