extends layout
block content
    .container
        .row.top-margin-from-navigation
            .col-8
                h1 About CovidStore
                p CovidStore is an online shop where you can purchase your goods without having to go the stores in order to avoid the spread of Covid 19 Virus
                p We have decided that everyone be able to buy what they require through our new program that aims at selling products on a credit basis.

            .col-sm-4.mt-4
                    h5 Special Categories in Our CovidStore
                    .list-group.shadow
                        a.list-group-item.list-group-item-action(href="/categories/kitchen")
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Kitchen
                        a.list-group-item.list-group-item-action(href="/categories/livingroom")
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Living Room
                        a.list-group-item.list-group-item-action(href="/categories/compound")
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Compound
                        a.list-group-item.list-group-item-action(href="/categories/bedroom")
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Bedroom
                        a.list-group-item.list-group-item-action(href="/categories/school")
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 School

        