extends layout
block content
    .container
        .row.top-margin-from-navigation
            .col-12
                h1 About CovidStore
                p CovidStore is an online shop where you can purchase your goods without having to go the stores in order to avoid the spread of Covid 19 Virus

        