extends layout
block content

    .container.top-margin-from-navigation
        .row
            each product in products
                - var url =  product.productimage;
                .col-3  
                    .card.rounded-0
                        img(src=('/uploads/' + url), alt="" class="img-fluid")
                        .card-body
                            .row
                                .col-6.cat
                                    small.text-muted Cat: #{product.category}
                                .col-6.cost
                                    small Cost: #{product.productcost}/=
                            h5.card-title
                                - var productId = product._id
                                a(href=('/product/' + productId )) #{product.productname}

        
