extends layout
block content
    .row
        .col-sm-12.mt-4
            .main-heading.mb-2
                h4 Latest in the store

        .col-sm-12
            .card-deck
                .card.rounded-0
                    img(src="/uploads/productimage-1595276207856.jpg", alt="" class="img-fluid")
                    .card-body
                        h5.card-title.text-center
                            a(href="/products/single-view") African Bees Honey
                        button.btn.btn-good.btn-block Buy Now

                .card.rounded-0
                    img(src="/uploads/productimage-1595276207856.jpg", alt="" class="img-fluid")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description
                .card.rounded-0
                    img(src="/uploads/productimage-1595276207856.jpg", alt="" class="img-fluid")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description
                .card.rounded-0
                    img(src="/uploads/productimage-1595276207856.jpg", alt="" class="img-fluid")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description

        .col-sm-12.mt-4
            h4 Funiture
            .card-deck
                .card.rounded-0
                    img(src="/uploads/productimage-1595276207856.jpg", alt="" class="img-fluid")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description

                .card.rounded-0
                    img(src="/uploads/productimage-1595276207856.jpg", alt="" class="img-fluid")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description
                .card.rounded-0
                    img(src="/uploads/productimage-1595276207856.jpg", alt="" class="img-fluid")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description
                .card.rounded-0
                    img(src="/uploads/productimage-1595276207856.jpg", alt="" class="img-fluid")
                    .card-body
                        h5.card-title Card Title
                        p.card-text This is a description
