extends ../layout
block content
    .container.top-margin-from-navigation
        .row
            .col-12
                h1 Agent Dashboard
                p This is an agent workstation

        .row
        