extends ../layout
block content
    .container.top-margin-from-navigation
        .row
            .col-12
                h1 Agent Dashboard
                p This is an agent workstation

        .row
        
            .col-sm-12
                .card-deck
                    .card
                        .card-body
                            a(href="/admin/agent/pending")
                                h5.card-title Pending
                    
                    .card
                        .card-body
                            a(href="")
                                h5.card-title Cleared Receipts