extends ../layout
block content
    .row
        .col-12
            h1 Manager Dashboard
            p This is where a manager logs in

    .row
        .col-sm-7
        .col-sm-5
            header.card-header

                h4.card-title Admin Login
            form(method="POST" action="/admin/login")
                .form-row.mt-2
                    .col.form-group
                        label Email
                        input.form-control(name="email" type="email")
                .form-row
                    .col.form-group
                        label Password
                        input.form-control(type="password" name="password")
                .form-row
                    .col.form-group
                        button.btn.btn-primary.btn-block Login